<h1>Welcome to all the feels</h1>
Science says that recording your feels makes you good at programming.</br>
To record a journal entry simply reply to this email with your thoughts for the day.</br>
Or, visit this link to record your feels: <%= @url %>
