<div class='welcome_containter'>
  <h1>How It Works</h1>

  <ul>
    <li>sign up with github</li>	
    <li>provide us with your email </li>	
    <li>respond to the email we send you</li>
    <li>your response will automatically be saved</li>
    <li>or, just login to tiny retro and record it on the site</li>
    <li>have fun!</li>

  </ul>
</div>
