<div class='welcome_containter' style='padding-top:50px'>
  <h1 class="cursive">How It Works</h1>

  <div class="row instructions">
    <div class='large-10 columns' style="padding-left: 100px">
      <h3 class="helvetica">sign up with github</h3> 
      <h3 class="helvetica">provide us with your email </h3> 
      <h3 class="helvetica">respond to the email we send you</h3>
      <h3 class="helvetica">your response will automatically be saved</h3>
      <h3 class="helvetica">or, just login to tiny retro and record it on the site</h3>
      <h3 class="helvetica">have fun!</h3>
    </div>
  </div>
</div>
