<div class='welcome_container'>

  <!-- <div class='intro_paragraph'> -->
    <div class='intro_text'>
      <p class='intro_headline'>
        all the feels
      </p>
      <p class='intro_subheadline'>
        Reflect on every day
      </p>
      <%= link_to 'Sign in with GitHub', '/auth/github/', class: 'button' %>
    </div>
  <!-- </div> -->
</div>
