<div class='welcome_container'>

  <!-- <div class='intro_paragraph'> -->
    <div class='intro_text'>
      <p class='intro_headline'>
        retrino
      </p>
      <p class='intro_subheadline'>
        Reflect on every day
      </p>
      <%= link_to 'Start you adventure today', new_user_path, class: 'button' %>
    </div>
  <!-- </div> -->
</div>
