$feels-font: 'Cedarville Cursive', cursive;

.index_container {
  background-color: #e6f0eb;
}

body {
  background-color: #e6f0eb;
  font-family: Helvetica;
}

textarea {
  font-size: 20pt;
  font-family: Helvetica;
}
