$feels-font: 'Cedarville Cursive', cursive;

.welcome_container {
  background: #b0b0b0;
}
body {
  background-color: #b0b0b0;
  font-family: Helvetica;
  text-align: center;
}

img {
  padding-right: 15px;
}

.cursive {
  font-family: $feels-font;
}

.instructions {
  text-align: left;
}

.retro_input {
  color: #9fc5e8;
  font-size:2em;
  // text-align: center;
  width: 100%;
  position: relative;
  height: 200px;
  margin-top:70px;
  outline: 0;
  border: 0;
  background: #3f454a;
  padding: 20px;
}

textarea {
  font-size: 20pt;
  font-family: Helvetica;
}
