// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_container {
  background-color: #e6f0eb;
  height: 100%;
}

nav.top_bar_color{
  background-color: #7dbbc2;
}

// section.top-bar-section li:not(.has-form) a:not(.button) {
//   padding-left: 30px;
//   background-color: #7dbbc2;
// }
//
// .top-bar-section li:not(.has-form) a:not(.button):hover {
//   color: gray;
//   background-color: #7dbbc2;
// }

.intro_text {
  text-align: center;
  color: white;
}
.intro_headline {
  font-size: 5em;
  padding-top: 14%;
  margin-bottom: 0;
  font-family: 'Press Start 2P', cursive;
}

.intro_subheadline {
  font-size: 1.5em;
}

.logo_section {
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  text-align: center;
}

.logo_section h2 {
  font-size: 2em;
  padding-top: 5%;
  margin: 0;
}

@media (max-width: 600px ) {
  .intro_headline { font-size: 2em; }
}
