$feels-font: 'Cedarville Cursive', cursive;

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left {
  margin-left: 400px;
}

ul.right {
  margin-right: 400px;
  margin-top: 22px;
}

.layout-wrap {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0 45px;
}

.mod-header {
  margin-top: 35px;
  float: right;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #262626;
}

.top-bar-section ul li{
  background: #262626;
}
.centered {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.welcome_container {
  background-color: #b0b0b0;
  height: 100%;
  list-style: none;
  list-style-type: none;
}

// nav.top_bar_color{
//   background-color: #7dbbc2;
// }

nav.top-bar {
min-height: 143px;
padding-top: 30px;
font-size: 12px;
font-weight: 700;
font-family: aktiv-grotesk-std, sans-serif;
text-transform: uppercase;
color: white;
background: #262626;
border-bottom: solid 4px #05c2d1;
}

// section.top-bar-section li:not(.has-form) a:not(.button) {
//   padding-left: 30px;
//   background-color: #7dbbc2;
// }
//
// .top-bar-section li:not(.has-form) a:not(.button):hover {
//   color: gray;
//   background-color: #7dbbc2;
// }

.intro_text {
  text-align: center;
  color: white;
}
.intro_headline {
  font-size: 6em;
  padding-top: 14%;
  margin-bottom: 0;
  font-family: $feels-font;
}

.intro_subheadline {
  font-size: 1.5em;
}

.logo_section {
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  text-align: center;
}

.logo_section h2 {
  font-size: 3em;
  padding-top: 5%;
  margin: 0;
}

@media (max-width: 600px ) {
  .intro_headline { font-size: 3em; }
}
